Repository gabruw/marvel-data-viewer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
	"*.{ts, tsx}": ["eslint --quiet --fix"],
	"*.{json, ts, tsx}": ["prettier --write --ignore-unknown"]
}

feat(models): adding models
  src/types/models/Character.ts
  src/types/models/CharacterUrls.ts
  src/types/models/Comic.ts
  src/types/models/Event.ts
  src/types/models/Serie.ts
  src/types/models/Story.ts
  src/types/models/Thumbnail.ts
Due: eslint --quiet --fix

chore(package): removing lottier-files
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

feat(api): adding types
  src/types/response/BaseResponse.ts
  src/types/response/NestedInfo.ts
  src/types/response/Pagination.ts
  src/types/response/SuccessResponse.ts
Due: eslint --quiet --fix

feat(api): adding hooks and provider
  src/components/ApiProvider/index.tsx
  src/hooks/useApiUrlParams/index.ts
  src/hooks/useAxios/index.ts
  src/hooks/useFetch/index.ts
Due: eslint --quiet --fix

feat(character-list): adding character pagination storage and api hook
  src/pages/home/api/useFetchCharacters/index.ts
  src/pages/home/storages/charactersPagination/index.ts
  src/pages/home/storages/charactersPagination/types.ts
Due: eslint --quiet --fix

style: adding global styles
  src/styles/global/index.css
Due: none

feat(character-list): adding card and pagination
  src/pages/home/components/CharacterList/components/CharacterCard/index.tsx
  src/pages/home/components/CharacterList/components/CharacterPagination/index.tsx
Due: none

feat(header): adding dummy
  src/components/Header/index.tsx
Due: none

feat(backdrop): adding component
  src/components/Backdrop/index.tsx
  src/hooks/useCreateRandomKey/index.ts
Due: eslint --quiet --fix

feat(assets): adding logo image
  src/assets/images/logo.webp
Due: none

feat(main): applying the api provider and backdrop
  src/main.tsx
Due: none

feat(character-list): adding list
  src/pages/home/components/CharacterList/index.tsx
  src/pages/home/index.tsx
Due: none

feat(character-list-filters): adding limit select
  src/pages/home/components/CharacterList/components/CharacterListFilters/components/LimitSelect/index.tsx
Due: none
